<!-- <app-cloudy></app-cloudy> -->

<div class="container full-height">
  <div class="row align-items-center justify-content-center h-100">
    <div class="col-10 col-md-8">
      <div class="row">
        <div class="col-12">
          <div class="card border-0 background">
            <div class="card-body shadow ">
              <div class="row justify-content-end">
                <div class="col-4 col-md-2 p-0 m-0">
                  <h1 class="temperature m-0 p-0" *ngIf="!animacion">-</h1>
                  <app-rainy *ngIf="animacion == 'Drizzle'"></app-rainy>
                  <app-cloudy
                    *ngIf="
                      (animacion == 'Clouds' && tipoNubes == 'Cloudiness') ||
                      (animacion == 'Clouds' && tipoNubes == 'overcast clouds')
                    "
                  ></app-cloudy>
                  <app-sunny *ngIf="animacion == 'Clear'"></app-sunny>
                  <app-electric-storms
                    *ngIf="animacion == 'Rain'"
                  ></app-electric-storms>
                  <app-sunny-rainy
                    *ngIf="
                      (animacion == 'Clouds' && tipoNubes == 'broken clouds') ||
                      tipoNubes == 'scattered clouds'
                    "
                  ></app-sunny-rainy>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <!-- A continuación realizaré condicionales con el objetivo de mostrar o no la información proveniente del servidor -->
                  <h1
                    class="temperature m-0 p-0"
                    *ngIf="weather; else esperandoDataTemperatura"
                  >
                    {{ weather.main.temp }}°
                  </h1>

                  <ng-template #esperandoDataTemperatura>
                    <h1 class="temperature m-0 p-0">
                      -
                    </h1>
                  </ng-template>

                  <p
                    class="city m-0 p-0"
                    *ngIf="weather; else esperandoNombreCiudad"
                  >
                    {{ weather.name }}, {{ weather.sys.country }}
                  </p>
                  <ng-template #esperandoNombreCiudad>
                    <p class="city m-0 p-0">
                      -
                    </p>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card border-0 background">
            <div class="card-body shadow ">
              <form (submit)="submitLocation(cityName, countryCode)">
                <div class="form-group mt-2">
                  <input
                    type="text"
                    class="form-control"
                    id="city"
                    placeholder="City"
                    #cityName
                  />
                </div>
                <div class="form-group mt-4">
                  <input
                    type="text"
                    class="form-control"
                    id="country"
                    placeholder="Country Code"
                    #countryCode
                  />
                  <label class="note mt-3"
                    >Note: You don't know what the country code is?
                    <a href="https://countrycode.org/" target="_blank"
                      >Click here</a
                    ></label
                  >
                </div>
                <div class="text-center mt-5">
                  <button type="submit" class="btn btn-outline-dark px-5">
                    Search
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
